  
  /* h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  } */
  
  .error {
    color: red;
    text-align: center;
  }
  
  .trendingList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .cryptoCard {
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cryptoImage {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .cryptoInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cryptoName {
    font-size: 1.2rem;
    margin: 5px 0;
  }
  
  .cryptoSymbol {
    font-size: 1rem;
    color: #555;
  }
  
  .cryptoMarketCap {
    font-size: 0.9rem;
    color: #777;
  }
  